<center><h1>Inteligencia Artificial</header1></center>

Presentado por: Selena Isabel Enriquez Olivo  <br>
Fecha: 07/27/2022<br>
Número: 2

# Importación de librerias necesarias

In [23]:
#Para esta actividad se importarán las siguientes librerías:
#Para esta actividad se importarán las siguientes librerías:
import pandas as pd
from sklearn.preprocessing import LabelEncoder# 
from sklearn.preprocessing import MinMaxScaler # 
import numpy as np# 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston

## Cargar el Dataset

In [24]:
#Código para cargar el Dataset
# load dataset
data = pd.read_csv("ds_salaries.csv")
data.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [25]:
#Se usa labelEncoder para normalizar etiquetas no numericas y en este caso esta el sexo, la region y el smoker.
encoder = LabelEncoder()

In [26]:
#Se normaliza la etiqueta sex usando encoder
data["experience_level"]= encoder.fit_transform(data["experience_level"])

In [27]:
#Se normaliza la etiqueta sex usando encoder
data["employment_type"]= encoder.fit_transform(data["employment_type"])

In [28]:
#Se normaliza la etiqueta sex usando encoder
data["job_title"]= encoder.fit_transform(data["job_title"])

In [29]:
#Se normaliza la etiqueta sex usando encoder
data["salary_currency"]= encoder.fit_transform(data["salary_currency"])

In [30]:
#Se normaliza la etiqueta sex usando encoder
data["employee_residence"]= encoder.fit_transform(data["employee_residence"])

In [31]:
#Se muestra los datos normalizados de la etiqueta sex
data.head(100)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,2,2,22,70000,7,79833,14,0,DE,L
1,1,2020,3,2,41,260000,16,260000,32,0,JP,S
2,2,2020,3,2,7,85000,8,109024,20,50,GB,M
3,3,2020,2,2,47,20000,16,20000,23,0,HN,S
4,4,2020,3,2,38,150000,16,150000,55,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2021,2,2,9,120000,14,89294,50,50,SG,L
96,96,2021,0,3,1,12000,16,12000,7,100,US,S
97,97,2021,2,2,28,450000,16,450000,55,100,US,L
98,98,2021,0,2,11,70000,16,70000,55,100,US,M
99,99,2021,2,2,11,81000,7,95746,14,100,US,S

## Descripción de la fuente del Dataset

#El presente data set denomindado ds_salaries contiene Salarios de los trabajos en el dominio de la Ciencia de Datos donde se encuentran los datos como:<br>
==>work_year = El año en que se pagó el salario.<br>
==>experience_level = El nivel de experiencia en el trabajo durante el año con los siguientes valores posibles: EN Entry-level / Junior MI Mid-level / Intermediate SE Senior-level / Expert EX Executive-level / Director<br>
==>employment_type = El tipo de empleo para el puesto: PT A tiempo parcial FT A tiempo completo CT Contrato FL Freelance<br>
==>job_title= El rol funcionó durante el año.<br>
==>sueldo = El monto total del salario bruto pagado.<br>
==>salary_currency = La moneda del salario pagado como un código de moneda ISO 4217.<br>
==>salarioenusd	= El salario en USD (tasa de cambio dividida por la tasa promedio de USD para el año respectivo a través de fxdata.foorilla.com).<br>
==>employee_residence	El país de residencia principal del empleado durante el año laboral como un código de país ISO 3166.<br>

In [32]:
# Muestra la descripción del DataFrame
data.describe()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio
count,607.000000,607.000000,607.000000,607.000000,607.000000,6.070000e+02,607.000000,607.000000,607.000000,607.00000
mean,303.000000,2021.405272,2.128501,1.993410,20.995058,3.240001e+05,13.029654,112297.869852,40.408567,70.92257
std,175.370085,0.692133,1.034055,0.236774,10.541994,1.544357e+06,4.378063,70957.259411,18.273621,40.70913
min,0.000000,2020.000000,0.000000,0.000000,0.000000,4.000000e+03,0.000000,2859.000000,0.000000,0.00000
25%,151.500000,2021.000000,2.000000,2.000000,13.000000,7.000000e+04,8.000000,62726.000000,20.000000,50.00000
50%,303.000000,2022.000000,2.000000,2.000000,17.000000,1.150000e+05,16.000000,101570.000000,55.000000,100.00000
75%,454.500000,2022.000000,3.000000,2.000000,22.000000,1.650000e+05,16.000000,150000.000000,55.000000,100.00000
max,606.000000,2022.000000,3.000000,3.000000,49.000000,3.040000e+07,16.000000,600000.000000,56.000000,100.00000

#Explique el problema a resolver. 
Descripción del problema. Tipo de problema (justifique). Variable objetivo, variables de entrada. Utilidad de su posible solución. Elementos adicionales que considere relevantes (no son necesarios contenidos teóricos, sino explicar qué relaciones tratas de comprobar y con qué métodos).

In [33]:
data['Failure Type'].unique() # Muestra los tipos de fallos

KeyError: 'Failure Type'

In [18]:
# Muestra el número de filas y columnas del DataFram
data.count()

Unnamed: 0            607
work_year             607
experience_level      607
employment_type       607
job_title             607
salary                607
salary_currency       607
salary_in_usd         607
employee_residence    607
remote_ratio          607
company_location      607
company_size          607
dtype: int64

In [19]:
# Muestra la información del DataFrame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    int32
 3   employment_type     607 non-null    int32
 4   job_title           607 non-null    int32
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    int32
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    int32
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int32(5), int64(5), object(2)
memory usage: 45.2+ KB

In [20]:
# Muestra el número de valores nulos en cada columna
data.isnull().sum()

Unnamed: 0            0
work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [21]:
#Se elimina una (YT) considerada 
data = df.drop(columns=['Failure Type'])
#se elimina un dato no estructurado 
data = df.drop(columns=['Product ID'])
#Mostramos los primero 5 datos
data.head()

NameError: name 'df' is not defined

## Preprocesamiento del dataset. Transformaciones previas necesarias para la modelación

## División del dataset en datos de entrenamiento y datos de test

In [5]:
#Código que realice la división en entrenamiento y test, de acuerdo con la estretgia de evaluación planeada. Describa cuál es.

## Modelamiento

In [6]:
#Códo del modelo

In [7]:
#Entrenamiento

In [8]:
#Test

## Evaluación del Modelo

Construya un o dos párrafos con los principales hallazgos. Cómo está funcionando el modelo? Calidad en los resultados de predicción.